<%- include ("header") %>

<div class="container">

<section class="content">
  <h1>About</h1>
  <p>Hi! My name is Harold Fandiño and I'm studying full stack development using the course of the <a href="www.appbrewery.co">App Brewery</a>.
    This is a project created using node.js. You can find me online at <a href="www.haroldfandino.com">Haroldfandino.com</a></p>
</section>

</div>

<%- include ("footer") %>
