<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My blog</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

        <div class="navbar">
          <div class="logo"><a href="/"><h1>My Blog</h1></a></div>
          <div class="links"><a href="/newpost">New post</a></div>
          <div class="links"><a href="/about">About</a></div>
        </div>
