<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My blog</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

      <!-- <div class="navbar"> -->

        <div class="navbar-items">
          <div><h1>My blog</h1></div>
          <div><a href="#">New post</a></div>
          <div><a href="#">About us</a></div>
        </div>

      <!-- </div> -->
