<%- include ("header") %>

<div class="container">

<section class="content">
  <h2>My Blog Website</h2>
  <p>Here you will see posts I want to share with the internet.</p>
</section>

</div>

<%- include ("footer") %>
