<%- include ("header") %>

<div class="container">

<section class="content">
  <h1>My Blog Website</h1>
  <p>Here you will see posts I want to share with the internet.</p>
  <br>
  <hr>
  <br>
</section>

</div>

<%- include ("footer") %>
